  <h1>Welcome, <%= cur_user %>!</h1>
  <ul><% list.each do |name| %>
     <li><%= name["username"] %></li>
    <% end %>
    </ul>
  <form method="get" action="/">
    <button type = "submit" name = "sort">Sort</button>
   </form>

  <form method="post" action="/">
    <input type="hidden" name="_method" value="delete"/>
    <label for="username">Delete user: </label>
    <input type="text" name="delete" id="delete"/>
    <button type="submit">Delete</button>
  </form>

  <form method="get" action="/logout">
    <button>Logout</button>
  </form>

   <form method="post" action="/fish">
     <label for="fish">Create fish: </label>
     <input type="text" name="create_fish" id="create_fish" placeholder="fish"/>
     <input type="text" name="fish_link" id="fish_link" placeholder="wikipedia page"/>
     <button type="submit">Create Fish</button>
   </form>

  <ul><% fish.each do |fish| %>
      <li><%=fish["fishname"] + " - " %> <a href="<%fish["link"]%>">Wiki</a></li>
    <% end %>
  </ul>



